Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 2548 651 295 692

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/zcy/workspace/mpc/smoke_test/build/result/init_test/write_buffer.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 484.888533 773.600316
cursor 570.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 9

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/zcy/workspace/mpc/smoke_test/build/result/init_test/write_buffer.fsdb"
addSignal -h 15 /tb_write_buffer/u_write_buffer/clk
addSignal -h 15 -holdScope xbar_req_valid
addSignal -h 15 -holdScope xbar_req
addSignal -h 15 -holdScope rc_req_valid
addSignal -h 15 -holdScope rc_rsp_data[127:0]
addSignal -h 15 /tb_write_buffer/u_write_buffer/rc_rsp_data_mux1h/data_sel[127:0]
addGroup "G2"
addSignal -h 15 /tb_write_buffer/u_write_buffer/xbar_rsp_free_valid
addSignal -h 15 -holdScope xbar_rsp_free_id[3:0]
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

